server:
  port: 8080
spring:
  application:
    name: gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: "secret"
  cloud:
    gateway:
      routes:
        - id: auth-service-route
          uri: http://auth-service:8081
          predicates:
            - Path=/api/auth/**, /api/users/**
        - id: order-service-route
          uri: http://order-service:8082
          predicates:
            - Path=/api/orders/**, /api/products/**, /api/product-types/**
        - id: payment-service-route
          uri: http://payment-service:8083
          predicates:
            - Path=/api/payments/**